body {
  background: rgb(105, 200, 159);
  font-family: Helvetica;
}
h1 {
  color: red;
}
assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: rgb(155, 200, 159);
}
.assign img {
  min-height: 5%;
  max-height: 10%;
  object-fit: scale-down;
  padding: 10px;
}
