body {
  background: rgb(105, 200, 159);
  font-family: Helvetica;
}
h1 {
  color: red;
}
.assign {
  padding: 10px;
  margin: 10px;
  background: rgb(155, 200, 159);
  width: 20%;
  box-shadow: 8px 8px rgb(75, 200, 140);
  border-radius: 10px;
  display: block;
}
.assign img {
  min-height: 5vh;
  max-height: 60vh;
  max-width: 30vw;
  object-fit: scale-down;
  padding: 10px;
}
